.idea/*
lectures
1st_sem/*
AGE_TASK_DMM/1950-2005both.csv
AGE_TASK_DMM/1950-2005female.csv
AGE_TASK_DMM/1950-2005male.csv
AGE_TASK_DMM/age_data.xls
AGE_TASK_DMM/DMM_Lab1.pptx
dict.csv
DMM_Lab3.pptx
lab1_Mus_Bizh_DMM.docx
lab1_Mus_Bizh_DMM.pdf
lab3_Mus_Bizh_DMM.docx
Labs/Practice_1_AGE/age_data.xls
Labs/Practice_1_AGE/DMM_Lab1.pptx
Labs/Practice_2_LIFESIM/Life_Examples/gameOfLife.py
Labs/Practice_2_LIFESIM/Life_Examples/rect.py
Labs/Practice_2_LIFESIM/links.txt
Labs/Practice_2_LIFESIM/Practice_2.pptx
AGE_TASK_DMM/1950-2005both.csv
AGE_TASK_DMM/1950-2005female.csv
AGE_TASK_DMM/1950-2005male.csv
AGE_TASK_DMM/age_data.xls
AGE_TASK_DMM/DMM_Lab1.pptx
dict.csv
DMM_Lab3.pptx
lab1_Mus_Bizh_DMM.docx
lab1_Mus_Bizh_DMM.pdf
lab3_Mus_Bizh_DMM.docx
Labs/Practice_1_AGE/age_data.xls
Labs/Practice_1_AGE/DMM_Lab1.pptx
Labs/Practice_2_LIFESIM/Life_Examples/gameOfLife.py
Labs/Practice_2_LIFESIM/Life_Examples/rect.py
Labs/Practice_2_LIFESIM/links.txt
Labs/Practice_2_LIFESIM/Practice_2.pptx
AGE_TASK_DMM/1950-2005both.csv
